@model List<UserModel>

@{
    ViewData["Title"] = "User management";
}
<body>
</body>

<!DOCTYPE html>

<html>
<head>
    <title>Users</title>

    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-striped table-hover border-bottom">
                <tr>
                    <th>Login</th>
                    <th>Creation time</th>
                    <th>Actions</th>
                </tr>
                @foreach (var u in Model)
                {
                    <tr>
                        <td>@u.Login</td>
                        <td>@u.CreationTime</td>
                        <td>@Html.ActionLink("delete", "Del", "User", new { login = u.Login })</td>
                    </tr>
                }
            </table>
        </div>
        @Html.ActionLink("Add new user", "Add", "User") <br/>
        @Html.ActionLink("Initialize users", "Init", "User")
    </div>
</head>
<body>
<div>
      
</div>
</body>
</html>